
      <div class="content">
        <div class="row">
          <div class="col-md-10">
            <div class="card">
              <div class="card-header">
                <h5 class="title">Register</h5>

                    {% if msg %}
                      <label>{{ msg | safe }}</label>
                    {% else %}
                      <label>Please add your registration information</label>
                    {% endif %}

              </div>
              <div class="card-body">

              <form role="form" method="post" action="">

                  {{ form.hidden_tag() }}

                  <div class="row">

                    <div class="col-md-1 px-md-1"></div>

                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Sensor Identification (integer number)</label>
                      </div>
                    </div>

                    <div class="col-md-5 px-md-1">
                      <div class="form-group">
                        {{ form.sensor_id(placeholder="Sensor Identification",class="form-control") }}
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-1 px-md-1"></div>

                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Volume (float number)</label>
                      </div>
                    </div>

                    <div class="col-md-5 px-md-1">
                      <div class="form-group">
                        {{ form.volume(placeholder="Volume",class="form-control") }}
                      </div>
                    </div>

                  </div>

                  <div class="row">

                    <div class="col-md-1 px-md-1"></div>

                    <div class="col-md-3 px-md-1">
                      <div class="form-group">
                        <label>Time (e.g. "29-10-2013-15:59:02")</label>
                      </div>
                    </div>

                    <div class="col-md-5 px-md-1">
                      <div class="form-group">
                        {{ form.time(placeholder="Time",class="form-control") }}
                      </div>
                    </div>

                  </div>

                  <div class="row">
                    <div class="col-md-1 px-md-1"></div>
                    <div class="col-md-1 px-md-1">

                    <button type="submit" class="btn btn-fill btn-primary">register</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

